#PUERTO EJECUCION MICRO SERIVICIO EMAIL
NOTIFICADOR_EMAIL_PORT=3234
RABBIT_MQ_NOTIFICADOR_EMAIL_QUEUE=notificador_email_queue

# CONFIGURACION RABBIT MQ
RABBIT_MQ_URI=amqp://<user>:<password>@localhost:5672
RABBIT_MQ_NOTIFICACION_EMAIL=notificacion_email

# CONFIGURACION REDIS
REDIS_PASSWORD=<password>
REDIS_HOST=localhost
REDIS_PORT=6379

# CONFIGURACION MAILER
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USER=user@example.com
MAIL_PASS=password
MAIL_FROM=noreply@example.com